.projects {
    height: 100vh;
    width: 100%;
    background-color: #FAF8CF;
}

.container {
    flex-direction: column;
    justify-content: flex-start;
}

.container h2 {
    color: #858A4A;
}

.projectCard {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}