.projectCard {
    width: 400px;
    background-color: #be8027;
    color: #FAF8CF;
}

.projectCard img {
    width: 100%;
    height: 300px;
    opacity: 1;
    backface-visibility: hidden;
}

.projectCard:hover img {
    opacity: 0.3;
}
