.hireBlock {
    height: 20vh;
    background-color: #5F5B4F;
}

.container {
    flex-direction: column;
}

.container h2 {
    margin: 0;
    padding: 0;
    color: #FAF8CF;
}

.hireBtn {
    background-color: #FAF8CF;
}