.footer {
    min-height: 20vh;
    width: 100%;
    background-color: #888D4D;
}

.container {
    flex-direction: column;
    color: #FAF8CF;
}

.container span {
    padding: 15px;
    box-sizing: border-box;
}

.socialMediaDiv {
    width: 60%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FAF8CF;
}